In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv('fifa21_train.csv')

In [3]:
data.shape

(11701, 101)

In [4]:
#data.head()

### Cleaning

In [5]:
#making all columns names lower case
cols = []
for column in data.columns:
    cols.append(column.lower())
cols
data.columns = cols

### Describing the data and understanding it

In [7]:
#data.describe().T

## To calculate the Overall rating (ova), I decided to use all the numeric columns and the categoricals columns just below

In [8]:
# I am separating all the categoricals columns I want to use and clean
df_to_clean = ['gk', 'rb', 'rcb', 'cb', 'lcb', 'lb', 'rwb', 'rdm', 'cdm', 'ldm', 'lwb', 'rm', 'rcm', 'cm', 'lcm', 'lm', 'ram', 'cam', 'lam', 'rw', 'rf', 'cf', 'lf', 'lw', 'rs', 'st', 'ls'] #ating all the categoricals columns that I want to convert into numerical that is required for the prediction model

In [9]:
#Creating a loop to go to all the columns I just assigned and find the string + and the split function to find the + sign and
# keeping everything before the sign
for col in df_to_clean:
    data[col] = data[col].str.split('+').str[0]
    data [col] = data[col].str.split('-').str[0]

In [10]:
#I am transforming all the columns into numeric now
data[df_to_clean]= data[df_to_clean].apply(pd.to_numeric)

In [11]:
# Check if there is nulls
#data[df_to_clean].isna().sum()

In [12]:
# Checking the other part of the numerical data
#data.describe().T

In [13]:
#Also, we can drop the columns on the numeric dataset that does not affect the model
data=data.drop(['id', 'age', 'growth'], axis=1)

## Checking and cleaning nulls

In [14]:
#Some columns have the exact same amount of Nulls, maybe itÂ´s easier to drop them as they represent 0.15% of the dataset

data_num=data.select_dtypes(include=[np.number])
data_num.isna().sum()

attacking           0
crossing            0
finishing           0
heading accuracy    0
short passing       0
                   ..
cb                  0
rcb                 0
rb                  0
gk                  0
ova                 0
Length: 77, dtype: int64

In [15]:
#We noticed that several columns had 41 nulls. We checked if they refered for the same rows. 
data2 = pd.DataFrame(data,columns=['volleys','curve', 'balance', 'jumping', 'sliding tackle', 'vision'])

nan_values = data2[data2.isnull().any(axis=1)]

print (nan_values)

       volleys  curve  balance  jumping  sliding tackle  vision
32         NaN    NaN      NaN      NaN             NaN     NaN
44         NaN    NaN      NaN      NaN             NaN     NaN
470        NaN    NaN      NaN      NaN             NaN     NaN
664        NaN    NaN      NaN      NaN             NaN     NaN
928        NaN    NaN      NaN      NaN             NaN     NaN
1095       NaN    NaN      NaN      NaN             NaN     NaN
1711       NaN    NaN      NaN      NaN             NaN     NaN
1778       NaN    NaN      NaN      NaN             NaN     NaN
1925       NaN    NaN      NaN      NaN             NaN     NaN
2018       NaN    NaN      NaN      NaN             NaN     NaN
2535       NaN    NaN      NaN      NaN             NaN     NaN
2623       NaN    NaN      NaN      NaN             NaN     NaN
2733       NaN    NaN      NaN      NaN             NaN     NaN
2825       NaN    NaN      NaN      NaN             NaN     NaN
3079       NaN    NaN      NaN      NaN             NaN     NaN
3527       NaN    NaN      NaN      NaN             NaN     NaN
3809       NaN    NaN      NaN      NaN             NaN     NaN
3982       NaN    NaN      NaN      NaN             NaN     NaN
4622       NaN    NaN      NaN      NaN             NaN     NaN
5231       NaN    NaN      NaN      NaN             NaN     NaN
5476       NaN    NaN      NaN      NaN             NaN     NaN
5778       NaN    NaN      NaN      NaN             NaN     NaN
5818       NaN    NaN      NaN      NaN             NaN     NaN
6669       NaN    NaN      NaN      NaN             NaN     NaN
7229       NaN    NaN      NaN      NaN             NaN     NaN
7292       NaN    NaN      NaN      NaN             NaN     NaN
8689       NaN    NaN      NaN      NaN             NaN     NaN
8765       NaN    NaN      NaN      NaN             NaN     NaN
8864       NaN    NaN      NaN      NaN             NaN     NaN
9077       NaN    NaN      NaN      NaN             NaN     NaN
9404       NaN    NaN      NaN      NaN             NaN     NaN
9502       NaN    NaN      NaN      NaN             NaN     NaN
9590       NaN    NaN      NaN      NaN             NaN     NaN
10073      NaN    NaN      NaN      NaN             NaN     NaN
10564      NaN    NaN      NaN      NaN             NaN     NaN
11033      NaN    NaN      NaN      NaN             NaN     NaN
11065      NaN    NaN      NaN      NaN             NaN     NaN
11176      NaN    NaN      NaN      NaN             NaN     NaN
11555      NaN    NaN      NaN      NaN             NaN     NaN
11650      NaN    NaN      NaN      NaN             NaN     NaN
11699      NaN    NaN      NaN      NaN             NaN     NaN

In [ ]:
#data.isna().sum()

In [16]:
#Confirmed, so we are dropping
data=data[data['volleys'].isna()==False]
#data=data[data['curve'].isna()==False]
#data=data[data['balance'].isna()==False]
#data=data[data['jumping'].isna()==False]
#data=data[data['sliding tackle'].isna()==False]
#data=data[data['vision'].isna()==False]
#There is no need to do line by line using this type of code

In [17]:
#To fill the null of composure we use the median

In [18]:
data['composure'].fillna(data['composure'].median(), inplace=True)

### Concatenating the first set of numerical data with this previous one

In [19]:
data=pd.concat([data, data[df_to_clean]], axis=1)

### Checking if they are all numerical and added as such

In [20]:
data=data.select_dtypes(include=np.number)

## X-y Split

In [21]:
X_num = data

In [22]:
#OneHot enconding
from sklearn.preprocessing import MinMaxScaler

In [23]:
y=data['ova']
X = X_num.drop(['ova'], axis=1)

### Normalizing

In [24]:
import pickle

In [25]:
from sklearn.preprocessing import MinMaxScaler
transformer = MinMaxScaler().fit(X)
x_normalized = transformer.transform(X)
print(x_normalized.shape)
x_normalized
data=pd.DataFrame(x_normalized, columns=X.columns)

(11660, 103)

### Trains-Testing

In [26]:
from sklearn.model_selection import train_test_split

In [27]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [28]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(9328, 103)
(2332, 103)
(9328,)
(2332,)

In [29]:
data.select_dtypes(include=[np.number])

,attacking,crossing,finishing,heading accuracy,short passing,volleys,skill,dribbling,curve,fk accuracy,...,cam,lam,rw,rf,cf,lf,lw,rs,st,ls
0,0.546835,0.545455,0.478261,0.431818,0.710843,0.465116,0.569087,0.615385,0.444444,0.561798,...,0.610390,0.610390,0.602564,0.602564,0.602564,0.602564,0.602564,0.565789,0.565789,0.565789
1,0.817722,0.681818,0.826087,0.806818,0.686747,0.837209,0.777518,0.857143,0.822222,0.752809,...,0.779221,0.779221,0.807692,0.794872,0.794872,0.794872,0.807692,0.815789,0.815789,0.815789
2,0.744304,0.761364,0.793478,0.329545,0.807229,0.825581,0.892272,0.879121,0.944444,0.966292,...,0.831169,0.831169,0.846154,0.820513,0.820513,0.820513,0.846154,0.763158,0.763158,0.763158
3,0.506329,0.431818,0.423913,0.602273,0.614458,0.372093,0.505855,0.538462,0.411111,0.460674,...,0.480519,0.480519,0.474359,0.461538,0.461538,0.461538,0.474359,0.460526,0.460526,0.460526
4,0.524051,0.488636,0.369565,0.636364,0.686747,0.348837,0.555035,0.648352,0.444444,0.449438,...,0.584416,0.584416,0.576923,0.564103,0.564103,0.564103,0.576923,0.539474,0.539474,0.539474
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11655,0.627848,0.340909,0.750000,0.681818,0.554217,0.651163,0.562061,0.626374,0.577778,0.573034,...,0.571429,0.571429,0.602564,0.615385,0.615385,0.615385,0.602564,0.657895,0.657895,0.657895
11656,0.460759,0.636364,0.228261,0.522727,0.578313,0.279070,0.480094,0.571429,0.500000,0.269663,...,0.493506,0.493506,0.525641,0.474359,0.474359,0.474359,0.525641,0.434211,0.434211,0.434211
11657,0.106329,0.068182,0.119565,0.090909,0.216867,0.139535,0.124122,0.131868,0.122222,0.157303,...,0.103896,0.103896,0.128205,0.141026,0.141026,0.141026,0.128205,0.171053,0.171053,0.171053
11658,0.617722,0.659091,0.684783,0.522727,0.638554,0.430233,0.580796,0.725275,0.588889,0.370787,...,0.636364,0.636364,0.679487,0.641026,0.641026,0.641026,0.679487,0.618421,0.618421,0.618421
11659,0.625316,0.420455,0.663043,0.681818,0.638554,0.569767,0.524590,0.648352,0.411111,0.426966,...,0.636364,0.636364,0.653846,0.641026,0.641026,0.641026,0.653846,0.644737,0.644737,0.644737

### Applying model

In [30]:
from sklearn import linear_model

In [31]:
lm = linear_model.LinearRegression()
lm.fit(X_train,y_train)

LinearRegression()

### Validating the model

In [32]:
from sklearn.metrics import r2_score  
predictions = lm.predict(X_train)
r2_score(y_train, predictions)

0.891501886993226

In [33]:
predictions_test = lm.predict(X_test)
r2_score(y_test, predictions_test)

0.8907270981084208

In [34]:
y_test[:5]

6387     78
1857     60
10307    74
2338     60
2108     69
Name: ova, dtype: int64

In [35]:
predictions_test[:5]

array([73.96595182, 59.21271926, 72.30597153, 63.1398871 , 66.51135459])

In [36]:
from sklearn.metrics import mean_squared_error
#Calculating MSE
mse=mean_squared_error(y_test,predictions_test)
mse

5.134789142834817

In [37]:
#Calculating RMSE
rmse = np.sqrt(mean_squared_error(y_test,predictions_test))  
rmse

2.266007313058547

In [38]:
# saving 
import pickle
pickle.dump(transformer, open('minmaxtransformer.p', 'wb'))
pickle.dump(lm, open('model.p', 'wb'))