In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv('fifa21_train.csv')

In [3]:
data.columns

Index(['ID', 'Name', 'Age', 'Nationality', 'Club', 'BP', 'Position',
       'Team & Contract', 'Height', 'Weight',
       ...
       'CDM', 'RDM', 'RWB', 'LB', 'LCB', 'CB', 'RCB', 'RB', 'GK', 'OVA'],
      dtype='object', length=101)

In [4]:
data.shape

(11701, 101)

In [62]:
data.head()

,id,name,age,nationality,club,bp,team & contract,height,weight,foot,...,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,gk,overall rating
0,184383,A. Pasche,26,Switzerland,FC Lausanne-Sport,CM,FC Lausanne-Sport 2015 ~ 2020,"5'9""",161,Right,...,59+1,59+1,59+1,58+1,54+1,54+1,54+1,58+1,15+1,64
1,188044,Alan Carvalho,30,China PR,Beijing Sinobo Guoan FC,ST,"Beijing Sinobo Guoan FC Dec 31, 2020 On Loan","6'0""",159,Right,...,53+2,53+2,57+2,53+2,48+2,48+2,48+2,53+2,18+2,77
2,184431,S. Giovinco,33,Italy,Al Hilal,CAM,Al Hilal 2019 ~ 2022,"5'4""",134,Right,...,56+2,56+2,59+2,53+2,41+2,41+2,41+2,53+2,12+2,80
3,233796,J. Evans,22,Wales,Swansea City,CDM,Swansea City 2016 ~ 2021,"5'10""",152,Right,...,58+2,58+2,56+2,57+2,58+2,58+2,58+2,57+2,14+2,59
4,234799,Y. Demoncy,23,France,US Orléans Loiret Football,CDM,US Orléans Loiret Football 2018 ~ 2021,"5'11""",150,Right,...,64+2,64+2,64+2,63+2,61+2,61+2,61+2,63+2,15+2,65

#### Making columns names standard lower case

In [6]:
#making all columns names lower case
cols = []
for column in data.columns:
    cols.append(column.lower())
cols
data.columns = cols

#### Describing the data

In [53]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
id,11660.0,2.198486e+05,3.658541e+04,27.0,204276.75,229180.5,244194.75,259090.0
age,11660.0,2.525463e+01,4.947334e+00,16.0,21.00,25.0,29.00,43.0
weight,11660.0,1.655742e+02,1.582187e+01,117.0,154.00,165.0,176.00,243.0
growth,11660.0,5.530703e+00,5.814483e+00,0.0,0.00,4.0,10.00,26.0
value (euros),11660.0,2.552716e+06,5.274622e+06,0.0,375000.00,800000.0,2500000.00,90000000.0
wage (euros),11660.0,1.047153e+04,2.124425e+04,0.0,1000.00,3000.0,11000.00,560000.0
attacking,11660.0,2.585497e+02,7.229501e+01,42.0,232.00,271.0,306.00,437.0
crossing,11660.0,5.157513e+01,1.786590e+01,6.0,41.00,56.0,65.00,94.0
finishing,11660.0,4.802350e+01,1.938516e+01,3.0,33.00,52.0,64.00,95.0
heading accuracy,11660.0,5.345978e+01,1.693454e+01,5.0,46.00,56.0,65.00,93.0
short passing,11660.0,6.042393e+01,1.395957e+01,11.0,56.00,63.0,69.00,94.0
volleys,11660.0,4.506732e+01,1.773290e+01,4.0,32.00,47.0,59.00,90.0
skill,11660.0,2.665722e+02,7.689760e+01,43.0,232.00,279.0,319.00,470.0
dribbling,11660.0,5.783602e+01,1.804933e+01,5.0,53.00,63.0,70.00,96.0
curve,11660.0,4.961784e+01,1.818041e+01,4.0,37.00,52.0,64.00,94.0
fk accuracy,11660.0,4.431338e+01,1.747256e+01,5.0,32.00,43.0,58.00,94.0
long passing,11660.0,5.420274e+01,1.488465e+01,9.0,45.00,57.0,65.00,93.0
ball control,11660.0,6.060223e+01,1.587473e+01,5.0,57.00,64.0,70.00,96.0
movement,11660.0,3.230414e+02,5.493325e+01,113.0,295.00,331.0,361.00,464.0
acceleration,11660.0,6.542358e+01,1.474617e+01,13.0,58.00,68.0,76.00,97.0
sprint speed,11660.0,6.543662e+01,1.452776e+01,11.0,59.00,68.0,75.00,96.0
agility,11660.0,6.458208e+01,1.448435e+01,14.0,57.00,67.0,75.00,96.0
reactions,11660.0,6.288979e+01,9.006966e+00,24.0,57.00,63.0,69.00,95.0
balance,11660.0,6.470935e+01,1.413132e+01,17.0,57.00,67.0,75.00,97.0
power,11660.0,3.022607e+02,4.960001e+01,133.0,271.00,308.0,339.00,444.0
shot power,11660.0,5.971201e+01,1.348943e+01,12.0,50.00,61.0,70.00,95.0
jumping,11660.0,6.503662e+01,1.201712e+01,25.0,58.00,66.0,73.00,95.0
stamina,11660.0,6.321304e+01,1.535809e+01,12.0,56.00,66.0,73.00,97.0
strength,11660.0,6.516432e+01,1.276120e+01,20.0,58.00,66.0,74.00,97.0
long shots,11660.0,4.913473e+01,1.904834e+01,4.0,35.00,54.0,64.00,94.0
mentality,11660.0,2.618076e+02,6.282737e+01,55.0,235.00,270.0,304.00,414.0
aggression,11660.0,5.693276e+01,1.706250e+01,9.0,45.00,60.0,70.00,96.0
interceptions,11660.0,4.676492e+01,2.079135e+01,5.0,26.00,52.0,65.00,90.0
positioning,11660.0,5.244545e+01,1.905449e+01,2.0,43.00,57.0,66.00,95.0
vision,11660.0,5.543919e+01,1.369529e+01,10.0,47.00,57.0,65.00,95.0
penalties,11660.0,5.022530e+01,1.567695e+01,8.0,40.00,51.0,62.00,94.0
composure,11660.0,5.996921e+01,1.165007e+01,12.0,53.00,61.0,68.00,96.0
defending,11660.0,1.408374e+02,6.158936e+01,20.0,83.00,157.0,194.00,267.0
marking,11660.0,4.696612e+01,2.017911e+01,3.0,29.00,52.0,64.00,92.0
standing tackle,11660.0,4.804357e+01,2.146851e+01,6.0,28.00,55.0,66.00,90.0
sliding tackle,11660.0,4.582770e+01,2.121706e+01,6.0,25.00,52.0,64.00,90.0
goalkeeping,11660.0,7.772067e+01,8.131509e+01,12.0,48.00,53.0,59.00,439.0
gk diving,11660.0,1.562093e+01,1.686044e+01,2.0,8.00,11.0,14.00,90.0
gk handling,11660.0,1.549254e+01,1.616227e+01,2.0,8.00,11.0,14.00,88.0
gk kicking,11660.0,1.534631e+01,1.581140e+01,2.0,8.00,11.0,14.00,88.0
gk positioning,11660.0,1.551715e+01,1.641768e+01,2.0,8.00,11.0,14.00,93.0
gk reflexes,11660.0,1.574374e+01,1.716259e+01,2.0,8.00,11.0,14.00,90.0
total stats,11660.0,1.630790e+03,2.602662e+02,731.0,1492.00,1660.0,1812.00,2304.0
base stats,11660.0,3.610531e+02,4.023525e+01,228.0,333.00,362.0,389.00,490.0
pac,11660.0,6.809297e+01,1.125215e+01,26.0,62.00,69.0,76.00,96.0
sho,11660.0,5.502667e+01,1.383706e+01,17.0,46.00,58.0,65.00,93.0
pas,11660.0,5.888413e+01,1.016158e+01,25.0,52.00,59.0,66.00,93.0
dri,11660.0,6.421312e+01,9.807939e+00,28.0,59.00,65.0,71.00,95.0
def,11660.0,5.001930e+01,1.683785e+01,12.0,35.00,53.0,64.00,89.0
phy,11660.0,6.481690e+01,9.751233e+00,27.0,59.00,66.0,72.00,93.0
ova,11660.0,6.691063e+01,6.851887e+00,45.0,62.00,67.0,72.00,93.0

In [65]:
data=data.drop(['id', 'age', 'weight', 'weight', 'growth', 'value (euros)', 'wage (euros)'], axis=1)

In [66]:
data.describe(include=[np.object]).T

C:\Users\sabba\AppData\Local\Temp\ipykernel_27108\9414863.py:1: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  data.describe(include=[np.object]).T

                 count unique         top   freq
name             11660  11195    J. Rojas      8
nationality      11660    159     England   1161
club             11660    880    OGC Nice     35
bp               11660     15          CB   2163
team & contract  11660   7618  India Free     28
height           11660     21        6'0"   1746
foot             11660      2       Right   8795
joined           11660    171     2019-07   1557
release clause   11660   1095          €0   1193
w/f              11660      5          3    7190
sm               11660      5           2   5127
a/w              11660      4      Medium   7494
d/w              11660      4      Medium   8350
ir               11660      5          1   10347
hits             11660    462           3   2338
ls               11660    253        60+2    432
st               11660    253        60+2    432
rs               11660    253        60+2    432
lw               11660    163        64+0    496
lf               11660    149        63+0    496
cf               11660    149        63+0    496
rf               11660    149        63+0    496
rw               11660    163        64+0    496
lam              11660    302        62+2    463
cam              11660    302        62+2    463
ram              11660    302        62+2    463
lm               11660    283        61+2    459
lcm              11660    250        59+2    451
cm               11660    250        59+2    451
rcm              11660    250        59+2    451
rm               11660    283        61+2    459
lwb              11660    265        59+2    425
ldm              11660    293        59+2    350
cdm              11660    293        59+2    350
rdm              11660    293        59+2    350
rwb              11660    265        59+2    425
lb               11660    255        62+2    387
lcb              11660    311        63+2    300
cb               11660    311        63+2    300
rcb              11660    311        63+2    300
rb               11660    255        62+2    387
gk               11660    147        16+2   2157

In [ ]:
data=data.drop(['name', 'nationality', 'club', 'bp', 'position', 'team & contract', 'height', 'weight', 'foot', 'joined', 'release clause', 'w/f', 'sm', 'a/w', 'd/w', 'ir', 'hits'], axis=1)

## Cleaning

In [10]:
#Checking and dropping all for duplicates. There are none
data.duplicated()
data=data.drop_duplicates()

#### Dealing with null values

In [11]:
#Checking the Nulls for numeric data
#data_na_n=data.select_dtypes(include=[np.number])
#data_na_n.isna().sum()

In [12]:
#Some columns have the exact same amount of Nulls, maybe it´s easier to drop them as they represent 0.15% of the dataset

In [13]:
#Checking the Nulls for categorical data
data_na_o=data.select_dtypes(include=[np.object])
data_na_o.isna().sum()

C:\Users\sabba\AppData\Local\Temp\ipykernel_27108\3821691079.py:2: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  data_na_o=data.select_dtypes(include=[np.object])

name                   0
nationality            0
club                  18
bp                     0
position             288
team & contract        0
height                 0
weight                 0
foot                   0
joined                41
loan date end      11072
value                  0
wage                   0
release clause         0
contract               0
w/f                    0
sm                     0
a/w                   59
d/w                   59
ir                     0
hits                   0
ls                     0
st                     0
rs                     0
lw                     0
lf                     0
cf                     0
rf                     0
rw                     0
lam                    0
cam                    0
ram                    0
lm                     0
lcm                    0
cm                     0
rcm                    0
rm                     0
lwb                    0
ldm                    0
cdm                    0
rdm                    0
rwb                    0
lb                     0
lcb                    0
cb                     0
rcb                    0
rb                     0
gk                     0
dtype: int64

In [14]:
#This column has 100% of null values, therefore, useless to the dataframe, hence we are dropping it.
data=data.drop(['loan date end'], axis=1)

In [15]:
#Column

In [16]:
nulls_df = pd.DataFrame(round(data.isna().sum()/len(data),4)*100)

In [17]:
nulls_df

                0
id           0.00
name         0.00
age          0.00
nationality  0.00
club         0.15
...           ...
cb           0.00
rcb          0.00
rb           0.00
gk           0.00
ova          0.00

[100 rows x 1 columns]

In [18]:
#We noticed that several columns had 41 nulls. We checked if they refered for the same rows. 
data2 = pd.DataFrame(data,columns=['volleys','curve', 'balance', 'jumping', 'sliding tackle', 'vision'])

nan_values = data2[data2.isnull().any(axis=1)]

print (nan_values)

       volleys  curve  balance  jumping  sliding tackle  vision
32         NaN    NaN      NaN      NaN             NaN     NaN
44         NaN    NaN      NaN      NaN             NaN     NaN
470        NaN    NaN      NaN      NaN             NaN     NaN
664        NaN    NaN      NaN      NaN             NaN     NaN
928        NaN    NaN      NaN      NaN             NaN     NaN
1095       NaN    NaN      NaN      NaN             NaN     NaN
1711       NaN    NaN      NaN      NaN             NaN     NaN
1778       NaN    NaN      NaN      NaN             NaN     NaN
1925       NaN    NaN      NaN      NaN             NaN     NaN
2018       NaN    NaN      NaN      NaN             NaN     NaN
2535       NaN    NaN      NaN      NaN             NaN     NaN
2623       NaN    NaN      NaN      NaN             NaN     NaN
2733       NaN    NaN      NaN      NaN             NaN     NaN
2825       NaN    NaN      NaN      NaN             NaN     NaN
3079       NaN    NaN      NaN      NaN             NaN     NaN
3527       NaN    NaN      NaN      NaN             NaN     NaN
3809       NaN    NaN      NaN      NaN             NaN     NaN
3982       NaN    NaN      NaN      NaN             NaN     NaN
4622       NaN    NaN      NaN      NaN             NaN     NaN
5231       NaN    NaN      NaN      NaN             NaN     NaN
5476       NaN    NaN      NaN      NaN             NaN     NaN
5778       NaN    NaN      NaN      NaN             NaN     NaN
5818       NaN    NaN      NaN      NaN             NaN     NaN
6669       NaN    NaN      NaN      NaN             NaN     NaN
7229       NaN    NaN      NaN      NaN             NaN     NaN
7292       NaN    NaN      NaN      NaN             NaN     NaN
8689       NaN    NaN      NaN      NaN             NaN     NaN
8765       NaN    NaN      NaN      NaN             NaN     NaN
8864       NaN    NaN      NaN      NaN             NaN     NaN
9077       NaN    NaN      NaN      NaN             NaN     NaN
9404       NaN    NaN      NaN      NaN             NaN     NaN
9502       NaN    NaN      NaN      NaN             NaN     NaN
9590       NaN    NaN      NaN      NaN             NaN     NaN
10073      NaN    NaN      NaN      NaN             NaN     NaN
10564      NaN    NaN      NaN      NaN             NaN     NaN
11033      NaN    NaN      NaN      NaN             NaN     NaN
11065      NaN    NaN      NaN      NaN             NaN     NaN
11176      NaN    NaN      NaN      NaN             NaN     NaN
11555      NaN    NaN      NaN      NaN             NaN     NaN
11650      NaN    NaN      NaN      NaN             NaN     NaN
11699      NaN    NaN      NaN      NaN             NaN     NaN

In [19]:
#They represent 0.15% of the data so we are just dropping them
data=data[data['volleys'].isna()==False]
data=data[data['curve'].isna()==False]
data=data[data['balance'].isna()==False]
data=data[data['jumping'].isna()==False]
data=data[data['sliding tackle'].isna()==False]
data=data[data['vision'].isna()==False]

In [20]:
data['composure']=data['composure'].fillna(data['composure'].median())

In [21]:
data['club']=data['club'].fillna('Unknown')
data['position']=data['position'].fillna('Unknown')
data['a/w']=data['a/w'].fillna('Unknown')
data['d/w']=data['d/w'].fillna('Unknown')

## Cleaning Column by column

#### The FIFA

In [61]:
#data['position'].unique()
#this code returns a huge amount of unique values and there is a column that sums up those positions (column called bp). 
# So we are dropping the column position and naming the column bp as position.
data=data.drop(['position'], axis=1)

KeyError: "['position'] not found in axis"

In [23]:
#getting rid of the string object LBS to be able to change the column to numeric
data['weight'] = data['weight'].str.replace('lbs', '')

In [24]:
#Now converting the column to numeric
data['weight'] = pd.to_numeric(data['weight'], errors='coerce')

In [40]:
data['value'].unique()

array([  525000,  8500000,  9000000,   275000,   725000,  1400000,
        6000000,   300000,   210000,   220000,   625000,   650000,
         800000,  5000000,   130000,  1100000,   325000,   825000,
         500000,   350000,  1000000,   475000,   160000,   675000,
       14500000,   900000,   425000,   450000,    60000, 10000000,
        1800000,   750000,   700000,  1500000, 16500000,  6500000,
         180000,  2600000, 41000000,   600000,   200000,  3200000,
       44000000,  2700000,  4500000,   875000,  7500000,   110000,
       11500000,   975000,  2300000,   550000,   170000,   850000,
         925000,   775000,    80000,  3300000,   575000,   375000,
        1300000,        0,  1200000,  3500000,  1900000,   190000,
         250000, 19500000,   100000,    90000,  5500000,  4200000,
         140000,   400000,  2900000,  4400000,  2000000,   240000,
        4600000,   230000,  7000000,  2800000, 13500000,  4300000,
        8000000,  4800000, 20500000,   150000,  9500000,  2100000,
         120000,  3600000, 15500000, 12500000,  3400000,  2500000,
        1700000, 41500000,  1600000,  2400000, 13000000, 14000000,
        3900000,  3000000, 12000000, 15000000,   950000,  4000000,
       10500000,  3800000,    70000,  2200000, 28500000,    50000,
          25000,  3100000, 23000000, 30000000,  4900000, 34500000,
       31500000, 25500000,  4700000, 18500000, 42000000, 34000000,
       49500000, 22000000, 27000000, 53000000, 21000000, 16000000,
        3700000,    30000, 20000000, 26000000,  4099999, 11000000,
       50000000,    45000, 24000000, 56000000, 45000000, 22500000,
       17500000, 23500000,     8000, 19000000,    40000, 17000000,
       30500000, 44500000, 39000000,    20000, 38000000, 80000000,
       21500000, 18000000, 26500000, 31000000,    35000, 25000000,
       35000000, 60000000,     5000, 50500000, 35500000, 65000000,
       27500000, 29000000, 72500000, 52000000, 47500000, 28000000,
       90000000, 37500000, 32500000, 40500000, 24500000, 67500000,
       69500000, 33000000, 36000000, 57000000,    15000,     1000,
       71000000, 32000000, 46000000, 46500000, 36500000, 63000000,
       29500000, 87000000, 48500000, 52500000, 51500000, 59500000,
       39500000, 58000000, 55000000, 33500000, 62500000])

In [26]:
data['value'].value_counts()

€1.1M     342
€0        279
€1M       237
€325K     236
€450K     230
         ...
€90M        1
€42M        1
€67.5M      1
€69.5M      1
€62.5M      1
Name: value, Length: 203, dtype: int64

In [27]:
data['value'] = data['value'].str.replace('€', '')

In [28]:
data.loc[data['value'].str.endswith('M') & ~data['value'].isnull(), 'value'] = data.loc[data['value'].str.endswith('M') & ~data['value'].isnull(), 'value'].str.replace('M', '').astype(float) * 1000000

In [29]:
data.loc[data['value'].str.endswith('K') & ~data['value'].isnull(), 'value'] = data.loc[data['value'].str.endswith('K') & ~data['value'].isnull(), 'value'].str.replace('K', '').astype(float) * 1000

In [30]:
data['value'] = data['value'].astype(int)

In [31]:
data['value'].dtype

dtype('int32')

In [41]:
#Doing the same to the column Wage
data['wage'].unique()

array(['€4K', '€23K', '€49K', '€2K', '€11K', '€28K', '€800', '€500',
       '€3K', '€9K', '€6K', '€900', '€8K', '€14K', '€16K', '€17K', '€950',
       '€7K', '€1K', '€12K', '€15K', '€5K', '€75K', '€750', '€98K',
       '€22K', '€140K', '€85K', '€37K', '€10K', '€550', '€600', '€26K',
       '€25K', '€21K', '€0', '€18K', '€20K', '€13K', '€115K', '€70K',
       '€40K', '€46K', '€51K', '€45K', '€57K', '€50K', '€55K', '€65K',
       '€27K', '€78K', '€77K', '€19K', '€700', '€34K', '€30K', '€42K',
       '€44K', '€32K', '€62K', '€850', '€76K', '€100K', '€60K', '€84K',
       '€33K', '€39K', '€650', '€35K', '€24K', '€82K', '€31K', '€48K',
       '€210K', '€105K', '€36K', '€130K', '€41K', '€135K', '€79K', '€29K',
       '€150K', '€69K', '€63K', '€43K', '€53K', '€68K', '€56K', '€80K',
       '€125K', '€64K', '€200K', '€58K', '€110K', '€73K', '€71K', '€38K',
       '€66K', '€59K', '€47K', '€54K', '€170K', '€190K', '€90K', '€74K',
       '€230K', '€240K', '€96K', '€97K', '€93K', '€160K', '€61K', '€67K',
       '€81K', '€87K', '€290K', '€145K', '€175K', '€95K', '€270K', '€72K',
       '€120K', '€86K', '€52K', '€99K', '€560K', '€260K', '€91K', '€83K',
       '€300K', '€220K', '€250', '€195K', '€370K', '€165K', '€92K',
       '€310K', '€350K', '€94K', '€89K'], dtype=object)

In [43]:
data['wage'] = data['wage'].str.replace('€', '')

In [44]:
data.loc[data['wage'].str.endswith('K') & ~data['wage'].isnull(), 'wage'] = data.loc[data['wage'].str.endswith('K') & ~data['wage'].isnull(), 'wage'].str.replace('K', '').astype(float) * 1000

In [45]:
data['wage'] = data['wage'].astype(int)

In [55]:
#Changing the name of these two columns to point out which currency and the ova to Overall Rating
data = data.rename(columns={'wage': 'wage (euros)'})
data = data.rename(columns={'value': 'value (euros)'})
data = data.rename(columns={'ova': 'overall rating'})

In [32]:
#data['value'] = pd.to_numeric(data['value'])

In [33]:
#data.head['value']

In [34]:
data['ir']=data['ir'].str.replace('★','')
data['w/f']=data['w/f'].str.replace('★','')
data['sm']=data['sm'].str.replace('★','')

In [35]:
#data=data.drop(['id'], axis=1)

In [36]:
data['joined'] = pd.to_datetime(data['joined'], errors='coerce')

In [37]:
data['joined'] = data['joined'].dt.strftime('%Y-%m')

In [38]:
data['joined'].unique()

array(['2015-07', '2015-01', '2019-01', '2016-07', '2018-07', '2020-07',
       '2019-09', '2019-08', '2018-08', '2020-01', '2019-05', '2020-08',
       '2015-06', '2020-06', '2019-10', '2009-01', '2018-01', '2019-07',
       '2013-03', '2017-02', '2020-09', '2017-07', '2015-08', '2017-01',
       '2004-07', '2017-05', '2005-07', '2019-02', '2014-08', '2017-09',
       '2020-02', '2016-05', '2017-04', '2016-03', '2003-07', '2016-08',
       '2012-07', '2013-07', '2002-01', '2018-04', '2008-07', '2011-07',
       '2015-03', '2017-08', '2016-01', '2011-01', '2017-06', '2019-11',
       '2015-09', '2018-12', '2014-07', '2020-05', '2019-03', '2019-12',
       '2018-09', '2016-12', '2017-11', '2013-04', '2016-04', '2018-05',
       '2019-06', '2013-01', '2013-09', '2018-06', '2018-10', '2017-12',
       '2012-05', '2013-08', '2012-01', '2016-02', '2011-09', '2008-01',
       '2018-11', '2014-06', '2007-05', '2014-12', '2017-10', '2010-09',
       '2016-11', '2014-01', '2012-08', '2011-04', '2016-09', '2020-03',
       '2014-05', '2015-12', '2017-03', '2014-11', '2009-08', '2011-08',
       '2014-09', '2011-12', '2016-06', '2015-11', '2019-04', '2018-02',
       '2013-12', '2008-08', '2010-08', '2012-06', '2016-10', '2005-01',
       '2012-09', '2006-01', '2013-10', '2015-02', '2015-04', '2010-07',
       '2014-03', '2014-10', '2009-07', '2007-01', '2012-12', '2013-02',
       '2011-06', '2014-02', '2018-03', '2010-01', '2010-11', '2012-03',
       '2009-02', '2006-08', '2014-04', '2011-02', '2015-05', '2002-07',
       '2020-04', '1998-07', '2003-01', '2007-09', '2013-06', '2011-03',
       '2003-08', '2015-10', '2013-11', '2001-01', '2005-08', '2020-10',
       '1993-01', '2009-09', '2010-02', '2007-07', '2009-06', '2012-02',
       '2008-09', '2007-02', '2010-06', '2006-07', '1998-01', '2009-05',
       '2011-10', '2010-12', '2012-04', '2008-11', '2012-10', '2007-08',
       '2013-05', '2008-04', '1996-10', '2003-10', '2012-11', '2000-07',
       '1990-12', '2008-03', '2010-05', '1995-07', '2004-08', '2000-08',
       '2007-11', '2004-01', '2005-09'], dtype=object)

In [39]:
data['contract'].unique()
#data['contract'] = data['contract'].dt.strftime('%Y-%m')

array(['2015 ~ 2020', 'Dec 31, 2020 On Loan', '2019 ~ 2022',
       '2016 ~ 2021', '2018 ~ 2021', '2020 ~ 2023', '2019 ~ 2023',
       '2019 ~ 2024', '2020 ~ 2021', '2020 ~ 2024', '2020 ~ 2025',
       '2015 ~ 2023', '2019 ~ 2020', '2009 ~ 2012', '2018 ~ 2022',
       '2018 ~ 2020', '2019 ~ 2021', '2013 ~ 2024', '2018 ~ 2023',
       '2015 ~ 2021', 'Arsenal Tula 2017 ~ 2019', '2020 ~ 2022',
       'Jun 30, 2022 On Loan', '2017 ~ 2021', '2004 ~ 2021',
       '2005 ~ 2020', 'Jun 30, 2019 On Loan', '2015 ~ 2024',
       '2017 ~ 2022', '2014 ~ 2021', 'Jun 30, 2020 On Loan',
       '2016 ~ 2022', 'Jun 30, 2021 On Loan', 'Jun 30, 2018 On Loan',
       '2016 ~ 2018', '2017 ~ 2023', 'Ivory Coast Free', 'Free',
       '2015 ~ 2022', '2003 ~ 2020', '2017 ~ 2024', '2012 ~ 2023',
       '2013 ~ 2022', '2002 ~ 2022', '2019 ~ 2025', '2008 ~ 2023',
       '2011 ~ 2021', '2020 ~ 2020', '2018 ~ 2019', '2016 ~ 2024',
       '2011 ~ 2019', '2015 ~ 2017', '2017 ~ 2019', '2014 ~ 2019',
       '2018 ~ 2024', 'Jan 31, 2021 On Loan',
       'Nagoya Grampus 2018 ~ 2021', 'Jun 23, 2021 On Loan',
       'Boca Juniors 2018 ~ 2022', '2016 ~ 2020', '2017 ~ 2020',
       'Club León 2018 ~ 2022', '2017 ~ 2018', '2013 ~ 2021',
       'Shanghai Greenland Shenhua FC 2020 ~ 2023', '2014 ~ 2022',
       '2013 ~ 2023', 'Cruz Azul 2019 ~ 2021', '2012 ~ 2021',
       '2012 ~ 2020', '2008 ~ 2021', '2018 ~ 2025', '2016 ~ 2023',
       '2014 ~ 2020', '2015 ~ 2016', '2007 ~ 2021', '2013 ~ 2020',
       '2015 ~ 2025', '2014 ~ 2017', '2010 ~ 2011', '2014 ~ 2015',
       '2014 ~ 2023', 'May 31, 2018 On Loan', '2011 ~ 2024',
       '2015 ~ 2018', 'Club Bolívar 2019 ~ 2023',
       'FC Red Bull Salzburg 2009 ~ 2022', 'Germany Free', '2015 ~ 2019',
       '2009 ~ 2021', '2014 ~ 2016', 'Dec 30, 2021 On Loan',
       '2019 ~ 2019', '2012 ~ 2015', 'India Free',
       'Club Bolívar 2020 ~ 2024', '2016 ~ 2017', '2012 ~ 2019',
       '2006 ~ 2018', 'Jun 1, 2021 On Loan', 'May 25, 2016 On Loan',
       'FCSB (Steaua) 2017 ~ 2022', '2017 ~ 2017', '2014 ~ 2018',
       'Nov 27, 2021 On Loan', 'Dec 31, 2019 On Loan', '2008 ~ 2019',
       '2011 ~ 2016', '2014 ~ 2024', '2010 ~ 2022',
       'LASK Linz 2017 ~ 2023', '2011 ~ 2020', 'Club Bolívar 2018 ~ 2020',
       'FC Lugano 2019 ~ 2021', 'SL Benfica 2017 ~ 2023', '2006 ~ 2023',
       '2012 ~ 2022', '2012 ~ 2024', 'Wellington Phoenix 2019 ~ 2021',
       '2005 ~ 2012', '2013 ~ 2016', '2012 ~ 2013',
       'Tigres U.A.N.L. 2016 ~ 2022', 'Aug 31, 2021 On Loan',
       'Club Blooming 2015 ~ 2023', '2012 ~ 2014', '2018 ~ 2018',
       '2010 ~ 2023', '2013 ~ 2015', 'May 31, 2019 On Loan',
       'May 31, 2021 On Loan', 'Flamengo 2019 ~ 2023',
       'Jul 5, 2021 On Loan', '2016 ~ 2019',
       'Dalian YiFang FC 2020 ~ 2023', '2009 ~ 2023',
       'Club América 2011 ~ 2015', '2011 ~ 2012',
       'SL Benfica 2020 ~ 2025', 'United Arab Emirates Free',
       '2011 ~ 2013', '2014 ~ 2014', '2011 ~ 2022', '2011 ~ 2014',
       '2010 ~ 2012', '2010 ~ 2021', '2009 ~ 2020',
       'Universitatea Craiova 2014 ~ 2024', 'Jan 30, 2021 On Loan',
       'France Free', 'Guangzhou Evergrande Taobao FC 2010 ~ 2022',
       '2016 ~ 2025', '2013 ~ 2013', '2012 ~ 2025',
       'Monterrey 2018 ~ 2023', 'Club Atlas 2018 ~ 2021', '2009 ~ 2014',
       'Cruz Azul 2019 ~ 2022', 'Club América 2018 ~ 2022',
       'FC Porto 2019 ~ 2023', '2012 ~ 2016', 'Dec 31, 2021 On Loan',
       '2011 ~ 2023', 'Always Ready 2018 ~ 2024', 'Nov 30, 2020 On Loan',
       '2017 ~ 2025', '2014 ~ 2025', 'SK Rapid Wien 2020 ~ 2023',
       'Brazil Free', '2009 ~ 2019', '2009 ~ 2024', '2011 ~ 2015',
       '2002 ~ 2018', '2005 ~ 2013', 'Guadalajara 2017 ~ 2022',
       '1998 ~ 2020', 'Jun 30, 2017 On Loan', 'River Plate 2019 ~ 2022',
       'Dalian YiFang FC 2019 ~ 2022', 'Sepsi OSK 2018 ~ 2021',
       '2005 ~ 2011', '2003 ~ 2021', '2007 ~ 2018', '2008 ~ 2014',
       '2012 ~ 2018', 'Always Ready 2020 ~ 2023', 'CFR Cluj 2019 ~ 2022',
       'Sydney FC 2019 ~ 2022', 'CFR Cluj 2017 ~ 2022', '2003 ~ 2019',
       '2009 ~ 2015', '2011 ~ 2025', 'Club América 2019 ~ 2022',
       '2013 ~ 2019', '2010 ~ 2020', '2013 ~ 2025',
       'FC Juárez 2019 ~ 2022', '2008 ~ 2011', '2012 ~ 2017',
       '2003 ~ 2018', 'Jan 2, 2016 On Loan', 'Jun 30, 2014 On Loan',
       '2001 ~ 2012', '2010 ~ 2017', 'U.N.A.M. 2003 ~ 2021',
       'Jan 4, 2021 On Loan', 'SL Benfica 2020 ~ 2023',
       'FC Porto 2018 ~ 2022', 'FC Zürich 2019 ~ 2023', '2010 ~ 2013',
       '1993 ~ 2017', 'May 31, 2020 On Loan', 'SL Benfica 2018 ~ 2024',
       'Universitatea Craiova 2020 ~ 2022', '113974 2019 ~ 2021',
       '2013 ~ 2014', 'Sydney FC 2009 ~ 2022', 'Shenzhen FC 2019 ~ 2022',
       '2011 ~ 2011', '2016 ~ 2016', 'Palmeiras 2019 ~ 2023',
       'Al Raed 2019 ~ 2023', 'São Paulo 2019 ~ 2023', '2015 ~ 2015',
       'Cruz Azul 2020 ~ 2022', 'TSV Hartberg 2018 ~ 2023', '2010 ~ 2024',
       '2010 ~ 2025', '2009 ~ 2022', '2013 ~ 2018', '2004 ~ 2016',
       'BSC Young Boys 2017 ~ 2023', 'SL Benfica 2016 ~ 2024',
       '2013 ~ 2017', '2009 ~ 2011', 'Wellington Phoenix 2019 ~ 2022',
       '2008 ~ 2020', 'Astra Giurgiu 2017 ~ 2024',
       'Universitatea Craiova 2018 ~ 2025', 'Al Wehda 2019 ~ 2021',
       'Boca Juniors 2020 ~ 2023', 'FC Basel 1893 2016 ~ 2022',
       'FC Porto 2015 ~ 2022', 'Racing Club 2018 ~ 2021',
       'Boca Juniors Jun 30, 2020 On Loan', '2010 ~ 2019',
       'FC Red Bull Salzburg 2015 ~ 2023', '2008 ~ 2018', '2009 ~ 2013',
       'Club América 2019 ~ 2024', '2008 ~ 2022',
       'Norwich City 2012 ~ 2015', '2007 ~ 2020', 'U.N.A.M. 2020 ~ 2021',
       'Universidad Católica 2019 ~ 2021', 'Jul 31, 2021 On Loan',
       'Beijing Sinobo Guoan FC 2019 ~ 2021', 'FC Porto 2019 ~ 2024',
       'Shanghai SIPG FC 2013 ~ 2020', '114912 2017 ~ 2023',
       '1998 ~ 2016', 'Melbourne Victory 2020 ~ 2022',
       'Jan 1, 2021 On Loan', 'Jorge Wilstermann 2018 ~ 2024',
       'Monterrey 2014 ~ 2021', '2010 ~ 2018',
       'FC Basel 1893 2016 ~ 2021', 'Vissel Kobe 2019 ~ 2022',
       '2007 ~ 2014', 'Deportivo Cali 2012 ~ 2014', '2006 ~ 2017',
       '2006 ~ 2021', 'Melbourne City FC 2019 ~ 2023', '2005 ~ 2021',
       '1998 ~ 2021', 'Beijing Sinobo Guoan FC 2018 ~ 2020',
       'Shanghai Greenland Shenhua FC 2018 ~ 2020',
       'Suwon Samsung Bluewings 2019 ~ 2024',
       'FC Red Bull Salzburg 2018 ~ 2022',
       'Atlético Nacional 2020 ~ 2023', '2007 ~ 2015', '2006 ~ 2014',
       '2007 ~ 2022', 'FC Luzern Jun 30, 2021 On Loan', '2011 ~ 2018',
       'Guangzhou Evergrande Taobao FC 2019 ~ 2022', '2020 ~ 2027',
       'Wellington Phoenix 2013 ~ 2023', 'May 31, 2022 On Loan',
       'FC Viitorul 2019 ~ 2022', 'Santa Clara 2020 ~ 2022',
       '2008 ~ 2017', 'Always Ready 2020 ~ 2024',
       'San Martín de San Juan Jun 30, 2018 On Loan', '2007 ~ 2025',
       'FC Zürich 2019 ~ 2022', 'Bolivia Free', '1996 ~ 2013',
       '2003 ~ 2022', '2007 ~ 2012', 'Carpi Jun 30, 2018 On Loan',
       '2019 ~ 2026', 'Astra Giurgiu 2018 ~ 2021', 'Jun 30, 2015 On Loan',
       '2007 ~ 2019', '2004 ~ 2013', '2009 ~ 2017', '2006 ~ 2013',
       'SL Benfica 2013 ~ 2023', 'Bari Jun 30, 2018 On Loan',
       'Olimpia Asunción 2020 ~ 2024', 'Club América 2016 ~ 2023',
       '2006 ~ 2024', '1998 ~ 2012', '2007 ~ 2017', '2002 ~ 2020',
       'Club Bolívar 2014 ~ 2021', 'Club Necaxa 2019 ~ 2023',
       'Racing Club 2019 ~ 2023', '2005 ~ 2022',
       'Monterrey Jun 30, 2021 On Loan', 'Shanghai SIPG FC 2019 ~ 2022',
       'FC Porto 2019 ~ 2021', 'Jan 3, 2021 On Loan',
       'Jun 30, 2023 On Loan', '2012 ~ 2012',
       'Middlesbrough Jun 30, 2017 On Loan', 'Club Bolívar 2020 ~ 2020',
       '2000 ~ 2020', 'Cruz Azul 2018 ~ 2022', 'Bursaspor 2013 ~ 2018',
       'Boavista FC 2020 ~ 2025', 'Sporting CP 2020 ~ 2025',
       'FC Basel 1893 2018 ~ 2022', '2006 ~ 2019', 'Peñarol 2020 ~ 2020',
       '1990 ~ 2014', 'CD Mirandés Jun 30, 2017 On Loan',
       'Jul 1, 2021 On Loan', '2010 ~ 2015', 'Club León 2018 ~ 2021',
       '1995 ~ 2014', 'River Plate 2015 ~ 2021', '2000 ~ 2016',
       'Vélez Sarsfield 2018 ~ 2021', 'Tigres U.A.N.L. 2019 ~ 2022',
       '2004 ~ 2020', 'Aug 31, 2020 On Loan',
       'GD Chaves Jun 30, 2018 On Loan', 'Boca Juniors 2016 ~ 2023',
       'England Free'], dtype=object)

In [56]:
#too many unique values and neither relevant to Overall rating nor as relevant feature. Dropping it
data=data.drop(['contract'], axis=1)

In [54]:
data['bp'].unique()

array(['CM', 'ST', 'CAM', 'CDM', 'LM', 'RB', 'CB', 'RM', 'GK', 'LB', 'RW',
       'LWB', 'LW', 'RWB', 'CF'], dtype=object)